<!-- CTA -->
<div id="{{ site.cta.section_id }}">
    <div class="wrapper style1">
        <div class="inner">
            <header class="heading small">
                <h2>{{ site.cta.title }}</h2>
                {{ site.cta.subtitle | markdownify }}
            </header>
            <form method="post" action="#" class="combined">
                <input type="email" name="email" id="email" placeholder="Your email address" class="invert" />
                <input type="submit" class="special" value="Get Notified" />
            </form>
        </div>
    </div>
</div>
