<!-- Four -->
<div id="{{ include.section.section_id }}">
    <div class="wrapper style2">
        <div class="inner">
            <header class="heading">
                <h2>{{ include.section.title }}</h2>
                {{ include.section.subtitle | markdownify }}
            </header>
            <div class="spotlights">
                
                {% assign arr = include.site.pages | where_exp: 'item', 'item.show_in_spotlight != nil' | sort: 'spotlight_weight' %}
                {% for section_page in arr %}
                    <div class="spotlight">
                        {% if section_page.alt_img_path %}
                            <div class="image fit{% cycle '', ' alt' %}">
                                <img src="{{ section_page.alt_img_path | relative_url }}" alt="" />
                            </div>
                        {% endif %}
                        <div class="content">
                            <h3>{{ section_page.title }}</h3>
                            {{ section_page.excerpt | markdownify }}
                            <ul class="actions">
                                <li><a href="{{ section_page.url | relative_url }}" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
