<!-- Three -->
<div id="{{ include.section.section_id }}">
    <div class="wrapper">
        <div class="inner">
            <header class="heading">
                <h2>{{ include.section.title }}</h2>
                {{ include.section.subtitle | markdownify }}
            </header>
            <div class="stats">
                {% for stat in include.section.stats_list %}
                    <div>
                        <span class="num">{{ stat.num }}</span>
                        <span class="label">{{ stat.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
